/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: white;
    width: 870px;


}


/* Top Player Style */
.section-title {
    color: #562EFF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

/* Blog Style */
.blog img {
    width: 224px;
    height: 127px;
}

.blog p {
    color: gray;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



/* Latest Course Style */
.course-banner img {
    width: 266px;
    height: 141px;
}

.course-banner p {
    color: #ED6B4F;


}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}